$bb-border-radius-scale: 5;

$bb-breakpoints: ("m": 780px, "l": 1200px) !default;

$bb-colors: (

	"brand": #5fafaf,
	"keyline": #e8f3f2,

	"greyscale": (
		50:  #FAFAFA,
		100: #F5F5F5,
		200: #EEEEEE,
		300: #E0E0E0,
		400: #BDBDBD,
		500: #9E9E9E,
		600: #757575,
		700: #616161,
		800: #424242,
		900: #212121
	)

) !default;

$bb-fonts: () !default;

$bb-letter-spacing: () !default;

$bb-line-heights: () !default;

$bb-grid: (
	"gutter": 40px,
	"breakpoint": 780px,
) !default;

$bb-global-delimiter: "-" !default;

$bb-global-delimiter-second: "-" !default;

$bb-hover-class-name: "hover" !default;

$bb-max-width-scale: 12 !default;

$bb-responsive: true !default;

$bb-normalize: true !default;

$bb-shadows: () !default;

$bb-spacing-scale: 15 !default;

$bb-spacing-base: 5px !default;

$bb-text-sizes: (
	13: 13px,
	14: 14px,
	16: 16px,
	18: 18px,
	20: 20px,
	24: 24px,
	28: 28px,
	32: 32px,
) !default;

@import "mixins/mixins";

@import "modules/modules";