@import "_base";
$gutter: 0 15px;


body {
	// padding: 100px;
	font-family: "Roboto";
}

.section {
	padding: 50px 0;
	@include if-above('l') {
		padding: 100px 0;
	}
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	background: white;
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(00,00,00,0.2);
	width: 400px;
	position: absolute;
	top: 100%;

	&:after {
		@include arrow("up", white, 5px);
		content: "";
		position: absolute;
		top: -5px;
		left: 20px;
	}

	a {
		padding: sizes(5);
		display: table;
		width: 100%;
		&:hover {
			background-color: #e5e5e5;
		}
	}
}

.navigation {
	position: absolute;
	width: 100%;
	height: 100px;

	.navigation-logo {
		
		padding-top: 0 !important;
		img {
			width: 120px;
		}
	}

	.navigation-link {
		display: table-cell;
		vertical-align: middle;
		color: white;
		padding-right: sizes(8);
		font-weight: 100;
		font-size: 18px;
		padding-top: 17px;

		a {
			opacity: 0.8;
		}
	}
}

.site-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: $gutter;
}


.masthead {
	@include background-image();
	display: table;
	width: 100%;
	padding: 0 $gutter;
	color: white;
	height: 650px;
	background-image: url('/images/background/bg.jpg');

	.masthead-title {
		@include uppercase(0.01em);
		font-size: 37px;
		line-height: 1.2;
		font-weight: black;
		max-width: 500px;
		margin: 0 auto sizes(2);
		@include if-above("l") {
			font-size: 48px;
		}
	}

	.masthead-sub {
		max-width: 400px;
		margin: 0 auto sizes(4);
		font-size: 18px;
		opacity: 0.75;
		font-weight: 100;
	}
}


.weight-bold {
	font-weight: 500;
}


.solution-tabs {
	@include if-below(l) {
		max-width: 700px;
		margin: 0 auto;
	}
}

.container {
	margin: 0 auto;
	padding: 0 sizes(3);
}

.solution-tabs-body {
	background-color: white;
	box-shadow: 0px 15px 26px rgba(00,00,00,0.2);
	padding: sizes(8);
	border-radius: 3px;
	position: relative;
	z-index: 3;
	margin-bottom: 20px;
	@include if-above('l') {
		margin-bottom: -200px;
		border-radius: 0 0 3px 3px;
	}

	@include if-above('l') {
		padding: sizes(15);
	}

	.solution-tabs-illustration {
		width: 100%;
		max-width: 500px;
	}

	display: none;

	&.is-open {
		display: block;
	}
}

// .solution-tabs-panel {
// 	display: none;

// 	&.is-open {
// 		display: block;
// 	}
// }

.solution-tabs-headline {
	font-size: 18px;
	margin-bottom: sizes(3) !important;
	@include if-above(l) {
		font-size: 24px;
	}
}

.solution-tabs-panel-left {
	@include if-above(l) {
		width: 40%;
		display: table-cell;
	}
}

.solution-tabs-panel-right {
	@include if-above(l) {
		width: 60%;
		display: table-cell;
	}
}


.solution-tabs-navigation {
	@include no-bullet;
	@include clearfix();
	position: relative;
	z-index: 1;
	display: none;
	
	@include if-above(l) {
		display: block;
		margin-left: -10px;
		margin-right: -10px;
	}

	> li {
	
		float: left;
		cursor: pointer;
		width: 100%;

		@include if-above(l) {
			width: 25%;
			padding: 0 10px;
		}

		.inner {
			background: darken(colors(brand), 5%);
			padding: sizes(6);
			display: block;
			border-radius: 3px 3px 0 0;
			cursor: pointer;

			

			@include if-below(l) {
				display: none;
			}

			&:hover {
				background-color: darken(colors(brand), 5%);
			}

			&.is-active {
				background-color: white;
				border-radius: 3px 3px 0 0;
				box-shadow: 0px 2px 26px rgba(00,00,00,0.2);

				@include if-below(l) {
					display: block;
				}
			}
		}
	}
}

.section-tabs {
	margin-bottom: 100px;
}


.button {
	@include uppercase(0.05em);
	border-radius: 100px;
	padding: 0 sizes(8);
	cursor: pointer;
	height: 45px;
	font-size: 14px;
	line-height: 47px;
	display: inline-block;
	&.button-brand {
		background-color: colors("brand");
		color: white;
	}
}

p {
	font-weight: 300;
	line-height: 1.8;
	&:not(:last-child) {
		margin-bottom: sizes(5);
	}
}

.product-icon {
	.product-icon-glyph {
		width: 50px !important;
		display: inline-block;
		vertical-align: middle;
	}

	.product-icon-text {
		@include uppercase(0.01em);
		width: calc(100% - 54px);
		padding-left: 11px;
		font-size: 16px;
		display: inline-block;
		line-height: 1.2;
		vertical-align: middle;
		
		font-weight: 100;
	}
}

.text-white {
	color: white;
}

.text-muted {
	color: #787878;
}


.more-info-contant {
	text-align: center;
	height: 400px;
	display: table;
	width: 100%;
}

.weight-100 {
	font-weight: 100;
}


.section-title {
	font-size: 32px;
	text-align: center;
	margin-bottom: sizes(6);
	font-weight: 100;

	@include if-above(l) {
		font-size: 42px;
		margin-bottom: sizes(10);
	}
}

.panel {
	box-shadow: 0 5px 15px rgba(00,00,00,0.1);
	background-color: white;
	border-radius: 3px;
}

.solutions-tabs-feature-list {
	@include no-bullet;
	> li {
		padding-left: 30px;
		position: relative;
		font-size: 16px;
		font-weight: 100;
		line-height: 1.5;
		padding-left: 45px;

		@include if-above(l) {
			font-size: 18px;
			padding-left: 50px;
		}

		&:not(:last-child) {
			margin-bottom: sizes(4);
		}

		img {
			position: absolute;
			left: 0;
			top: -4px;
			width: 35px;
			@include if-above(l) {
				width: 35px;
			}
		}
	}

	@include if-below(l) {
		margin-bottom: sizes(5);
	}
}

.solution-tabs-indicator {
	@include no-bullet;
	display: table;
	table-layout: fixed;
	width: 100%;
	border-top: 2px solid #ddedec;
	margin-bottom: sizes(5);

	> li {
		text-align: center;
		position: relative;
		display: table-cell;
		padding-top: sizes(3);
		color: colors("brand");
		@include uppercase(0.01em);
		font-weight: 500;
		font-size: 10px;

		@include if-above(l) {
			font-size: 12px;
		}



		&.is-active {
			&:after {
				@include circle(20px);
				background-color: colors("brand");
				border: 4px solid #ddedec;
				top: -12px;
			}
		}

		&:after {
			@include circle(12px);
			content: "";
			background-color: white;
			display: inline-block;
			position: absolute;
			top: -7px;
			border: 2px solid #ddedec;
			left: 50%;
			margin-left: -6px;
		}

		&:first-child {
			text-align: left;
			&:after {
				left: 0;
				margin-left: 0;
			}
		}

		&:last-child {
			text-align: right;
			&:after {
				right: 0;
				left: auto;
				margin-left: 0;
			}
		}
	}

	&:after {

	}
}