extends  _inc/_layout.jade

block variables
	- var next = "grid";

block body

	script.
		$(document).ready(function() {
			$(".solution-tabs-navigation a").on("click", function(e) {
				
				e.preventDefault();

			$(".solution-tabs-navigation a").removeClass("is-active");

				$(this).addClass("is-active");

				var selected = $(this).attr("href");

				$(".solution-tabs-body").removeClass("is-open");

				$("#"+selected).addClass("is-open");
			});
		});


	.masthead
		.display-table-cell.vertical-align-middle.height-100.width-100.text-center
			h1.masthead-title GROW PREMIUM AT SUPERIOR LOSS RATIOS
			p.masthead-sub Cytora transforms online data into a risk selection, targeting and pricing advantage for commercial insurers.
			a(href="#contact" class="button button-brand") Talk to an expert

	.section
		.container.max-width-700.margin-auto.text-center
			p.text-24.text-32-above-medium.text-brand.weight-bold Cytora enables commercial insurers to grow premium by up to 3% while improving loss ratios by up to 8%
			p.text-16.text-18-above-medium Our Risk Engine unlocks superior selection, targeting and pricing solutions that are driven by proprietary machine learning algorithms, developed by one of the most sophisticated teams of PhD-level data scientists in insurance.

			a(href="#" class="button button-brand") Read the case study


	.section.background-greyscale-100
		.site-container
			.max-width-800.margin-auto
				.columns
					.columns-6
						.panel.padding-12.text-center.width-100.max-width-400.margin-auto
							h2.margin-bottom-2.text-brand.text-1 External data
							p.text-14.text-muted Web data, Open APIs, Public Reports

					.columns-6
						.panel.padding-12.text-center.width-100.max-width-400.margin-auto
							h2.margin-bottom-2.text-brand.text-1 Internal data
							p.text-14.text-muted Web data, Open APIs, Public Reports

			.max-width-400.margin-auto
				img(src="#{images}/thing.png")

			.dotted-line.margin-auto(style="height: 100px")

			.panel.padding-12.text-center.width-100.max-width-400.margin-auto
				p.text-brand Data is continuously ingested,  cleaned, structured, normalised and run through a series of machine learning algorithms
			.dotted-line.margin-auto(style="height: 100px")

			.panel.padding-12.text-center.width-100.max-width-400.margin-auto
				h2.margin-bottom-2.text-brand.text-1 Cytora data
				p.text-14.text-muted Risk scores, prices and insights that reveal and predict future claims, attractive risks and overall risk quality.

			.dotted-line.margin-auto(style="height: 100px")

			.columns.display-flex-above-l.flex-column
				.columns-4.display-flex-above-l
					.panel.padding-10.text-center.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/expense-ratio.png" width="80")
						h2.margin-bottom-2.text-brand.text-16 Improve loss ratios by up to 8%
						div(style="height: 130px")
							p.text-14.text-muted Continuously tune your portfolio in response to changing market dynamics.
							a(href="#" class="button button-brand") Learn more

				.columns-4.display-flex-above-l
					.panel.padding-10.text-center.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/grow-premium.png" width="80")
						h2.margin-bottom-2.text-brand.text-16 Grow premium by up to 3%
						div(style="height: 130px")
							p.text-14.text-muted Identify profitable segments outside of your current appetite.
							a(href="#" class="button button-brand") Learn more

				.columns-4.display-flex-above-l
					.panel.padding-10.text-center.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/expense-ratio.png" width="80")
						h2.margin-bottom-2.text-brand.text-16 Improve your expense ratio
						div(style="height: 130px")
							p.text-14.text-muted Automate processes and optimise the ratio of risks submitted to risks bound. 
							a(href="#" class="button button-brand") Learn more

	//- +approach()

	+contact()
