@import "_base";
$gutter: 0 15px;

$font-heading: "Roboto";
$font-body: "Open Sans";


body {
	// padding: 100px;
	font-family: $font-body;
	font-weight: 400;
	color: colors("greyscale", 600);
}

.form-group {
	margin-bottom: sizes(2);
}

.gutter-2 {
	margin-left: -(sizes(1));
	margin-right: -(sizes(1));

	.columns-6 {
		padding: 0 sizes(1);
	}
}




input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="date"],
input[type="tel"],
input[type="search"],
select,
textarea, {
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	text-decoration: none;
	width: 100%;
	height: 50px;
	font-weight: 300;
	padding-left: sizes(4);
	font-family: $font-body;
	font-size: 15px;
	border: 0;
	border-radius: 3px;
	
	@include placeholder {
		color: #808080;
	}

	&:disabled {
		// background: colors(greyscale, 100);
		box-shadow: none;
		cursor: default;
	}

	&:focus {
		// border-color: colors(keyline, dark);
		box-shadow: none;
	}
}




.section {
	padding: 50px 0;
	@include if-above('l') {
		padding: 100px 0;
	}
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
	font-family: $font-heading;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	background: white;
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(00,00,00,0.2);
	width: 400px;
	position: absolute;
	top: 100%;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-50px);
	transition: all .25s;
	z-index: 5;

	&.is-open {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	&:after {
		@include arrow("up", white, 5px);
		content: "";
		position: absolute;
		top: -5px;
		left: 20px;
	}

	a {
		padding: sizes(5);
		display: table;
		width: 100%;
		&:not(:last-of-type) {
			border-bottom: 1px solid colors("keyline");
		}
		&:hover {
			background-color: colors("greyscale", 100);
		}
	}
}

.navigation {

	display: none;

	@include if-above("l") {
		position: absolute;
		display: block;
		width: 100%;
		height: 100px;

		.navigation-logo {
			
			padding-top: 0 !important;
			img {
				width: 120px;
			}
		}

		.navigation-link {
			display: table-cell;
			vertical-align: middle;
			color: white;
			padding-right: sizes(8);
			font-weight: 100;
			font-size: 18px;
			padding-top: 17px;

			a {
				opacity: 0.8;
			}
		}
	}
}

.floating-thing {
	background: colors("greyscale", 700);
	padding: sizes(3);
	font-size: 13px;
	border-radius: 3px;
	color: white;
	position: absolute;
	width: 250px;
	z-index: 9999;
	right: -120px;
	top: -15px;
	&:after {
		@include arrow("left", colors("greyscale", 700), 10px);
		position: absolute;
		left: -10px;
		top: 50%;
		margin-top: -10px;
	}
}

.site-container {
	max-width: 1080px;
	margin: 0 auto;
	padding: $gutter;
}

.dotted-line {
	width: 2px;
	position: relative;
	left: -1px;
	background: colors("brand");
}


.masthead {
	@include background-image();
	display: table;
	width: 100%;
	padding: $gutter;
	color: white;
	height: 450px;
	background-image: url('../images/background/bg.jpg');

	@include if-above("l") {
		height: 650px;
	}

	.masthead-title {
		@include uppercase(0.01em);
		font-size: 28px;
		font-weight: 300;
		line-height: 1.2;
		font-weight: black;
		max-width: 500px;
		margin: 0 auto sizes(2);
		@include if-above("l") {
			font-size: 42px;
		}
	}

	.masthead-sub {
		max-width: 300px;
		margin: 0 auto sizes(4);
		font-size: 15px;
		opacity: 0.75;
		font-weight: 100;
		@include if-above("l") {
			font-size: 18px;
			max-width: 400px;
		}
	}
}

.width-100 {
	width: 100% !important;
}


.weight-bold {
	font-weight: 500;
}


.solution-tabs {
	@include if-below(l) {
		max-width: 700px;
		margin: 0 auto;
	}
}

.container {
	margin: 0 auto;
	padding: 0 sizes(3);
}

.solution-tabs-body {
	background-color: white;
	box-shadow: 0px 15px 26px rgba(00,00,00,0.05);
	border-radius: 3px;
	position: relative;
	z-index: 3;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	@include if-above('l') {
		display: none;
		padding: 0;
		margin-bottom: -200px;
		border-radius: 0 0 3px 3px;
	}


	.solution-tabs-illustration {
		width: 200px;
		margin: 0 auto;
		display: block;
		transition: all .5s;

		@include if-above('l') {
			
			height: 300px;
			width: auto;
			max-width: 500px;
		}
	}

	

	&.is-open {
		display: flex;
		@include if-above('l') {
			display: block;
		}
	}
}

// .solution-tabs-panel {
// 	display: none;

// 	&.is-open {
// 		display: block;
// 	}
// }

.solution-tabs-headline {
	font-size: 18px;
	font-weight: 100;
	margin-bottom: sizes(6) !important;
	@include if-above(l) {
		font-size: 20px;
	}
}

.solution-tabs-panel-left {
	order: 2;
	padding: sizes(6);
	@include if-above(l) {
		width: 45%;
		display: table-cell;
		padding: sizes(15);
		padding-right: 0;
	}

	.solution-tabs-illustration {

		@include if-above(l) {
			display: none;
		}

		@include if-below(l) {
			margin-bottom: sizes(6);
			height: 200px;
			width: auto;
		}

	}
}

.solution-tabs-panel-right {
	order: 1;
	padding: sizes(6);
	display: none;

	@include if-below(l) {
		background: colors("greyscale", 100);
		border-bottom: 1px solid colors(greyscale, 300);
	}


	@include if-above(l) {
		width: 60%;
		padding: 0;
		display: table-cell;
		text-align: center;
	}
}


.solution-tabs-navigation {
	@include no-bullet;
	@include clearfix();
	position: relative;
	z-index: 1;
	display: none;
	
	@include if-above(l) {
		display: block;
		margin-left: -10px;
		margin-right: -10px;
	}

	> li {
	
		float: left;
		cursor: pointer;
		width: 100%;
		text-align: center;

		@include if-above(l) {
			width: 25%;
			padding: 0 10px;
		}

		.glyph {
			vertical-align: middle;
			display: inline-block;
			padding-right: 5px;

			img {
				width: 40px;
			}
		}

		.text {
			font-family: $font-heading;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 12px;
			vertical-align: middle;
			display: inline-block;
			line-height: 1.5;
			position: relative;
			top: 3px;
			text-align: left;
			font-weight: 300;
			span {
				font-weight: 500;
			}
		}


		.inner {
			// background: darken(colors(brand), 5%);
			padding: sizes(3);
			display: block;
			border-radius: 3px 3px 0 0;
			cursor: pointer;
			transition: all .25s;
			color: white;

			.colour {
				display: none;
			}

			img {
				opacity: 0.8;
				transition: all .25s;
				height: 50px;
			}

			@include if-below(l) {
				display: none;
			}

			&:hover {
				background-color: darken(colors(brand), 5%);
				img {
					opacity: 1;
				}
			}

			&.is-active {
				background-color: white;
				border-radius: 3px 3px 0 0;
				box-shadow: 0px 2px 26px rgba(00,00,00,0.05);

				color: colors("brand");

				img {
					opacity: 1;
				}

				.colour {
					display: inline-block;
				}

				.white {
					display: none;
				}

				@include if-below(l) {
					display: block;
				}
			}
		}
	}
}

.section-tabs {
	include if-below(l) {
		margin-bottom: 100px;
	}
}

.contact-quote {
	p {
		font-size: 20px;
		font-style: italic;
		font-weight: 100;
		color: white;
	}
}


.button {
	@include uppercase(0.10em);
	border-radius: 3px;
	padding: 0 sizes(6);
	cursor: pointer;
	height: 40px;
	font-size: 12px;
	text-align: center;
	font-family: $font-heading;
	line-height: 42px;
	display: inline-block;
	&.button-brand {
		background-color: colors("brand");
		color: white;
	}

	&.button-50 {
		height: 50px;
		line-height: 50px;
	}

	&.button-brand-dark {
		background-color: darken(colors("brand"), 30%);
		color: white;
	}
}

p {
	// font-weight: 4/00;
	line-height: 1.5;
	&:not(:last-child) {
		margin-bottom: sizes(5);
	}
}

.product-icon {
	.product-icon-glyph {
		width: 50px !important;
		display: inline-block;
		vertical-align: middle;
	}

	.product-icon-text {
		@include uppercase(0.01em);
		width: calc(100% - 54px);
		padding-left: 11px;
		font-size: 16px;
		display: inline-block;
		line-height: 1.2;
		vertical-align: middle;
		
		font-weight: 100;
	}
}

.text-white {
	color: white;
}

.text-muted {
	color: #787878;
}


.more-info-contant {
	text-align: center;
	height: 400px;
	display: table;
	width: 100%;
}

.weight-100 {
	font-weight: 100;
}


.section-title {
	font-size: 32px;
	text-align: center;
	font-weight: 100;

	@include if-above(l) {
		font-size: 32px;
	}
}

.panel {
	box-shadow: 0 2px 4px rgba(00,00,00,0.05);
	background-color: white;
	border-radius: 3px;
}

.section-solutions, .section-approach {
	@include if-above("l") {
		padding-top: 200px;
	}
}

.solutions-tabs-feature-list {
	@include no-bullet;
	> li {
		padding-left: 30px;
		position: relative;
		font-size: 16px;
		// font-weight: 100;
		line-height: 1.5;
		padding-left: 45px;
		color: colors("brand");
		font-weight: 900;

		@include if-above(l) {
			font-size: 16px;
			padding-left: 45px;
		}

		p {
			font-weight: 300;
		}

		&:not(:last-child) {
			margin-bottom: sizes(6);
		}

		img {
			position: absolute;
			left: 0;
			top: -5px;
			width: 35px;
			@include if-above(l) {
				width: 35px;
			}
		}
	}

	@include if-below(l) {
		margin-bottom: sizes(5);
	}
}


.solutions-tabes-panel-logo {
	height: 50px;
	margin-bottom: sizes(8);
	@include if-above(l) {
		display: none;
	}
}

.solution-tabs-indicator {
	@include no-bullet;
	display: table;
	table-layout: fixed;
	width: 100%;
	border-top: 2px solid #ddedec;
	margin-bottom: sizes(5);

	> li {
		text-align: center;
		position: relative;
		display: table-cell;
		padding-top: sizes(3);
		color: colors("brand");
		font-family: $font-heading;
		@include uppercase(0.01em);
		font-weight: 500;
		font-size: 10px;

		@include if-above(l) {
			font-size: 12px;
		}



		&.is-active {
			&:after {
				@include circle(20px);
				background-color: colors("brand");
				border: 4px solid #ddedec;
				top: -12px;
			}
		}

		&:after {
			@include circle(12px);
			content: "";
			background-color: white;
			display: inline-block;
			position: absolute;
			top: -7px;
			border: 2px solid #ddedec;
			left: 50%;
			margin-left: -6px;
		}

		&:first-child {
			text-align: left;
			&:after {
				left: 0;
				margin-left: 0;
			}
		}

		&:last-child {
			text-align: right;
			&:after {
				right: 0;
				left: auto;
				margin-left: 0;
			}
		}
	}

	&:after {

	}
}