include _head.jade

block variables

body

	.navigation
		.site-container
			.display-table.height-100
				.navigation-logo.navigation-link
					img(src="images/logo-white.png")
				.navigation-link.dropdown
					a Solutions
					.dropdown-menu
						a(href="")
							.display-table-cell.vertical-align-top
								img(src="images/icons/solution.png" width="80")
							.display-table-cell.vertical-align-middle.padding-left-3
								.text-20.text-brand.weight-bold.margin-bottom-1 Grow premium
								.text-muted.text-16 Select the best risks, set the right price.
						a(href="")
							.display-table-cell.vertical-align-top
								img(src="images/icons/solution.png" width="80")
							.display-table-cell.vertical-align-middle.padding-left-3
								.text-20.text-brand.weight-bold.margin-bottom-1 Grow premium
								.text-muted.text-16 Select the best risks, set the right price.
						a(href="")
							.display-table-cell.vertical-align-top
								img(src="images/icons/solution.png" width="80")
							.display-table-cell.vertical-align-middle.padding-left-3
								.text-20.text-brand.weight-bold.margin-bottom-1 Grow premium
								.text-muted.text-16 Select the best risks, set the right price.
				.navigation-link
					a Technology
				.navigation-link
					a About


	block body

