include _head.jade

block variables

body

	script.
		$(document).ready(function() {

			$(".dropdown-menu").on("click", function(e) {
				e.stopPropagation();
			});

			$(".dropdown").on("click", function() {
				$(this).find(".dropdown-menu").toggleClass("is-open");
			});

			$(".solution-tabs-navigation a").on("click", function(e) {
				
				e.preventDefault();

				$(".solution-tabs-navigation a").removeClass("is-active");

				$(this).addClass("is-active");

				var selected = $(this).attr("href");

				$(".solution-tabs-body").removeClass("is-open");

				$("#"+selected).addClass("is-open");
			});
		});

	.navigation
		.site-container
			.display-table.height-100
				a.navigation-logo.navigation-link(href="/")
					img(src="#{images}/logo-white.png")
				.navigation-link.dropdown
					a Solutions
					.dropdown-menu
						a(href="/improve-loss-ratio.html")
							.display-table-cell.vertical-align-top(style="width: 60")
								img(src="#{images}/icons/expense-ratio.png" width="50")
							.display-table-cell.vertical-align-middle.padding-left-1
								.text-15.text-brand.weight-bold Improve loss ratios
								//- .text-muted.text-13 Select the best risks, set the right price.
						a(href="/grow-premium.html")
							.display-table-cell.vertical-align-top(style="width: 60")
								img(src="#{images}/icons/grow-premium.png" width="50")
							.display-table-cell.vertical-align-middle.padding-left-1
								.text-15.text-brand.weight-bold Grow premium
								//- .text-muted.text-13 SIdentify profitable segments outside of your current appetite.
						a(href="/expense-ratio.html")
							.display-table-cell.vertical-align-top(style="width: 60")
								img(src="#{images}/icons/lower-expense.png" width="50")
							.display-table-cell.vertical-align-middle.padding-left-1
								.text-15.text-brand.weight-bold Improve expense ratios
								//- .text-muted.text-13 Improve operating performance and drive underwriting profitability.
						
				.navigation-link
					a Technology
				.navigation-link
					a About


	block body

